div{
    margin-top: 50px;
    margin-left: 50px;
}

.grid1{
    width: 100px;
    height: 100px;
    background: linear-gradient(to bottom right, blue, red);

}

@media (min-width: 576px){
    .grid1{
        width: 100px;
        height: 100px;
        border-radius: 999px;
        background: aquamarine;      
    }
}